:root{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    --p-bg-color: #2A2A2A;
    --s-bg-color: #1e1e1e;
    --p-fn-color: #ededed;
    --s-fn-color: #b3b3b3;
    --extra: #e6ddc1;
}

/*////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////// Element ///////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/

body{
    color: var(--p-fn-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-justify: center;
}

section{
    background-color: var(--p-bg-color);
    width: 100%;
}

footer{
    background-color: var(--s-bg-color);
}

h2{
    font-size: 2rem;
    font-weight: bold;
}

h3{
    font-size: 1.3rem;
    font-weight: bold;
}

/*//////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////// Class ///////////////////////////////*/
/*////////////////////////////////////////////////////////////////////*/

.main{
    width: 100%;
}

.category{
    width: auto;
    margin: 2rem;
    gap: 1vw;
    align-items: center;
}
.category-item{
    color: var(--extra);
    font-size: 1.5vw;
    width: 8vw;
    height: 2.4vw;
    background: none;
    border: 0.16vw solid var(--extra);
    border-radius: 9999px;
}
.category-buttons{
    gap: 0.5vw;
}

.active-category{
    color: var(--s-bg-color);
    font-size: 1.5vw;
    width: 8vw;
    height: 2.4vw;
    background-color: var(--extra);
    border: 0.16vw solid var(--s-bg-color);
    border-radius: 9999px;
}

.list{
    width: 60vw;
    margin: 2rem;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}
.card-container{
    justify-content: space-between;
    /* align-items: center; */
    height: 16rem;
    width: 12rem;
    padding: 1.5rem;
    margin: 1rem 0;
    background-color: var(--s-bg-color);
    border-radius: 1.5rem;
    transition-duration: 200ms;
}
.card-container:hover{
    scale: 1.1;
    transition-duration: 200ms;
}

.image-container{
    width: 12rem;
    height: 12rem;
    display: block;
    position: relative;
}
.card-image{
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}
.card-text{
    color: var(--p-fn-color);
    text-align: left;
}