:root{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    --p-bg-color: #2A2A2A;
    --s-bg-color: #1e1e1e;
    --p-fn-color: #ededed;
    --s-fn-color: #b3b3b3;
    --extra: #e6ddc1;
}

/*////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////// Element ///////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/

body{
    color: var(--p-fn-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-justify: center;
}

section{
    background-color: var(--p-bg-color);
    width: 100%;
}

footer{
    background-color: var(--s-bg-color);
}

h2{
    font-size: 2rem;
    font-weight: bold;
}

h3{
    font-weight: bold;
}
p{font-size: small;}

/*//////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////// Class ///////////////////////////////*/
/*////////////////////////////////////////////////////////////////////*/

.main{
    width: 100%;
}

.category{
    width: auto;
    margin: 2rem;
    gap: 1vw;
    align-items: center;
}
.category-item{
    color: var(--extra);
    font-size: 1.5vw;
    width: 8vw;
    height: 2.4vw;
    background: none;
    border: 0.16vw solid var(--extra);
    border-radius: 9999px;
}
.category-item:active{
    scale: 0.9;
}
.category-buttons{
    gap: 0.5vw;
}

.active-category{
    color: var(--s-bg-color);
    font-size: 1.5vw;
    width: 8vw;
    height: 2.4vw;
    background-color: var(--extra);
    border: 0.16vw solid var(--s-bg-color);
    border-radius: 9999px;
}

.list{
    width: 60vw;
    margin: 2rem;
    min-height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0rem 2.5rem;
}
.card-container{
    justify-content: space-between;
    height: auto;
    width: 10.2rem;
    padding: 1rem;
    margin: 1rem 0;
    background-color: var(--s-bg-color);
    border-radius: 1rem;
    gap: 1rem;
    transition-duration: 200ms;
}
.card-container:hover{
    scale: 1.1;
    transition-duration: 200ms;
}

.image-container{
    width: 100%;
    height: 10rem;
    display: block;
    position: relative;
}
.card-image{
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
}
.card-text{
    color: var(--p-fn-color);
    text-align: left;
}

/*//////////////////////////////////////////////////////////////////////*/
/*////////////////////////////// Filter ///////////////////////////////*/
/*////////////////////////////////////////////////////////////////////*/
hr{
    width: 80vw;
    border-top: 0.15rem solid var(--extra);
    border-radius: 9999px;
}

.filter{
    width: 60vw;
}

.filter-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 1;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.filter-list{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-width: 20vw;
    min-height: 20vh;
    max-width: 60vw;
    max-height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1e1e1e;
    padding: 1rem;
    z-index: 2;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hide{
    display: none;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}