@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    --p-bg-color: #2A2A2A;
    --s-bg-color: #1e1e1e;
    --p-fn-color: #ededed;
    --extra: #e6ddc1;
}
/*////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////// Element ///////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/

body{
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: var(--p-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-justify: center;
}

footer{
    width: 100vw;
    height: 6rem;
    background-color: var(--s-bg-color);
}
/*//////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////// Class ///////////////////////////////*/
/*////////////////////////////////////////////////////////////////////*/
.navbar{
    color: var(--p-fn-color);
    width: 100vw;
    height: 3rem;
    background-color: var(--s-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carousel{
    margin: 2rem;
    width: 854px;
    height: 480px;
    background-color: var(--extra);
    border-radius: 1rem;
}
.category{
    width: 70vw;
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item-category{
    width: 240px;
    height: 240px;
    background-color: var(--extra);
    margin: 2rem;
    border-radius: 1rem;
}
/*///////////////////////////////////////////////////////////////////*/
/*/////////////////////////////// ID ///////////////////////////////*/
/*/////////////////////////////////////////////////////////////////*/