
.flex-center{
    flex: 1;
    justify-content: center;
    align-items: center;
}
.flex{display: flex;}
.flex-row{flex-direction: row;}
.flex-column{flex-direction: column;}
.flex-space{
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.flex-right{
    align-items: end;
}
.flex-left{
    align-items: flex-start;
}
.hide{display: none;}
/*//////////////////////////////////////////////////////////////////////*/
/*////////////////////////////// navbar ///////////////////////////////*/
/*////////////////////////////////////////////////////////////////////*/
h1{
    width: 100%;
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0 2rem;
    box-sizing: border-box;
}

.navbar{
    background-color: var(--background-50);
    padding: 0.5rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar img{
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
    display: block;
}
.navbar i{
    color: var(--accent-500);
    padding: 1rem 2rem;
}

.navbar-menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 12rem;
    background-color: var(--primary-800);
    border-radius: 0.5rem;
    top: 4rem;
    right: 0;
}

a{
    color: var(--text-100);
    margin: 16px;
    text-decoration: none;
}

a img{
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    display: block;
}
/*//////////////////////////////////////////////////////////////////////*/
/*////////////////////////////// footer ///////////////////////////////*/
/*////////////////////////////////////////////////////////////////////*/
h5{
    color: var(--text-50);
    font-weight: 600;
    height: auto;
}
footer{
    background-color: var(--background-900);
    width: 100%;
    justify-content: center;
    padding: 2rem 0;
}
.social-name{
    justify-self: end;
    margin: 16px 0;
}
footer a{
    margin: 8px;
}

.footer-link{
    flex-direction: row;
    flex-wrap: wrap
}
.footer-container{
    align-items: flex-start;
    margin: 1.5rem;
}
#footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    justify-content: space-between;
}

@media screen and (min-width: 500px){
    .footer-link{
        flex-direction: column;
    }
    #footer{
        flex-direction: row;
    }
    .footer-container{
        align-items: center;
    }
};